/* Content Stylings */
.content {
  & > p {
    @apply mb-5 last-of-type:mb-0 lg:text-lg;
  }

  & > ul {
    @apply mb-5 lg:text-lg list-disc list-inside ml-6;

    & > li {
      @apply mb-4;
    }
  }

  & > ol {
    @apply mb-5 lg:text-lg list-decimal list-inside ml-6;
  }

  & > p > a {
    @apply underline hover:text-opacity-25 focus:text-opacity-25;
  }

  & > h1, & > .h1 {
    @apply text-3xl lg:text-4xl 2xl:text-5xl;
  }

  & > h2, & > .h2 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl;
  }

  & > h3, & > .h3 {
    @apply text-xl lg:text-2xl 2xl:text-3xl;
  }

  & > p ~ h1,
  & > p ~ h2,
  & > p ~ h3 {
    @apply mt-12 block;
  }

  & > p ~ h3 {
    @apply mt-8 block;
  }


}

.will-change {
  will-change: transform;
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3 {
  @apply p-0 mb-6;
}

::-webkit-scrollbar {
    display: none;
}

.break-hyphen {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}