/* Content Stylings */
.content--pad {
  & > p {
    @apply mb-5 last-of-type:mb-0;
  }

  & > ul {
    @apply mb-5 last-of-type:mb-0;
  }
}

.content {
  & > p {
    @apply mb-5 last-of-type:mb-0 lg:text-lg lg:leading-snug;
  }

  & > ul {
    @apply mb-5 lg:text-lg list-disc list-inside ml-6;

    & > li {
      @apply mb-4;
    }
  }

  & > ol {
    @apply mb-5 lg:text-lg list-decimal list-inside ml-6;
  }

  & > p > a {
    @apply underline transition-colors ease-in-out duration-300 hover:text-orange focus:text-orange;
  }

  & a {
    @apply break-words;
  }

  & > h1, & > .h1 {
    @apply text-3xl lg:text-4xl 2xl:text-5xl;
  }

  & > h2, & > .h2 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl;
  }

  & > h3, & > .h3 {
    @apply text-xl lg:text-2xl 2xl:text-3xl;
  }

  & > p ~ h1,
  & > p ~ h2,
  & > p ~ h3 {
    @apply mt-12 block;
  }

  & > p ~ h3 {
    @apply mt-8 block;
  }
}

.content--large {
  & > p {
    @apply mb-5 last-of-type:mb-0 lg:text-xl 2xl:text-2xl lg:leading-snug
  }

  & > h3 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl
  }
}

.will-change {
  will-change: transform;
}

.menu-item {
  position: relative;
  width: 100%;
  display: block;

  /* color: #141414; */
  overflow: hidden;
  transition: clip-path 600ms cubic-bezier(.2,1.09,.36,.97);
}

.menu-item:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-item::before {
  position: absolute;
  content: attr(data-content);
  color: #F07837;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 600ms cubic-bezier(.2,1.09,.36,.97);
}

.menu-item--active::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3 {
  @apply p-0 mb-6;
}

::-webkit-scrollbar {
    display: none;
}

.break-hyphen {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.embla {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
  height: auto;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 450px;
  @apply bg-gray-100;
}

.embla__slide__img {
  @apply object-center object-cover inset-0 absolute w-full h-full;
  /* top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%; */
  /* max-width: none; */
  /* transform: translate(-50%, -50%); */
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 18%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;

  @apply text-5xl;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 10px;
  @apply rotate-180;
}

.embla__button--next {
  right: 10px;
}

